
@model Order
@{
    ViewData["Title"] = "Detail";
    int count = 0;
}

<div class="row">
    <div class="col-lg-2">
        <h1 class="h3 mb-4 text-gray-800">Order Detail Page</h1>
    </div>
    <div class="col-lg-2">
        <a class="btn btn-primary" asp-action="index" asp-controller="order" asp-area="manage"> Go To Home</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">No: @Model.No</h5>
                <h5 class="card-title">Full Name: @($"{Model.Name} {Model.SurnName}")</h5>
            </div>
        </div>
    </div>
</div>
@if (Model.OrderItems != null && Model.OrderItems.Count() > 0)
{
    <div class=" row">
        <h4>Order Items</h4>
        <div class="col-lg-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Count</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OrderItem orderItem in Model.OrderItems)
                    {
                        count++;

                        <tr>
                            <td>@count</td>
                            <td>@orderItem.Product.Title</td>
                            <td>@orderItem.Price</td>
                            <td>@orderItem.Count</td>
                            <td>@(orderItem.Price * orderItem.Count)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<div class="row">
    <div class="col">
        <form method="post" asp-area="manage" asp-controller="order" asp-action="changeStatus">
            <input type="hidden" name="Id" value="@Model.Id"/>
            <div class="input-group mb-3">
                    <select asp-for="Status" class="custom-select form-select" asp-items="@Html.GetEnumSelectList<OrderType>()">
                        @*@foreach (var item in Enum.GetValues(typeof(OrderType)))
                        {
                            <option value="@((int)item)">@item</option>
                        }*@
                    </select>
                    <span asp-validation-for="Status" class="text text-danger"></span>
                </div>
            <div class="mb-3">
                <label asp-for="Comment" class="form-label"></label>
                <input asp-for="Comment" class="form-control">
                <span asp-validation-for="Comment" class="text text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Change Status</button>
        </form>
    </div>
</div>